.overlap-popover-holder 
	.overlap-popover-col.overlap-popover-col-margin
		.overlap-popover-header {{overlap.key1}} 
		textarea(disabled).overlap-geneSet {{entry.overlap[overlap.key1].join('\n')}}
	.overlap-popover-col
		.overlap-popover-header {{overlap.key2}}
		textarea(disabled).overlap-geneSet {{entry.overlap[overlap.key2].join('\n')}}