.header-board
   a.btn.btn-primary.dropdown-toggle-custom.reanalyze(ng-click="reanalyze()" title="reanalyze input using different configurations")
      i.fa.fa-chevron-left      
      |      reanalyze
    .btn-group.dropdown-custom(dropdown)
      a.btn.btn-primary.dropdown-toggle.dropdown-toggle-custom(dropdown-toggle) {{tag.value}} ({{direction}}) <span class="caret"></span>
      ul(class="dropdown-menu" role="menu")
        li
          .result-input-meta
            flex-form(data="input.meta" static="true")
    a.btn.share-button(title="show enriched substructures in top perturbations" ng-click="goToStructure()")
      i.fa.fa-diamond
    a.btn.share-button(ng-if="isFileSaverSupported" title="download the table as csv" ng-click="saveFile()")
      i.fa.fa-cloud-download
    a.btn.share-button(ng-click="share()")
      i.fa.fa-share-alt-square
    a.btn.share-button(href="help/" target="_blank")
      i.fa.fa-question-circle
.result-container
  table.table.table-striped(st-table='displayedEntries', st-safe-src='entries')
    thead
      th Rank
      th  1-cos(α)       
        a(ng-href="{{helpURL}}#score" target="_blank")
          i.fa.fa-question-circle 
      th  α           
      th  Perturbation
      th  
      |             
      th  Cell-line 
      |             
      th  Dose 
      |             
      th  Time
      th  Overlap 
      |             
      th  Signature 
    tbody           
      tr(ng-repeat='entry in displayedEntries')
        td.rank {{entry["rank"]}}
        td {{entry["score"].toFixed(4)}}
        td(style="padding:0;font-size:0")
          sigine-angle(cosine-dist='entry["score"].toFixed(4)')
        |               
        td.pert {{entry["pert_desc"]=="-666" || entry["pert_desc"].length > 46 ?entry["pert_id"]:entry["pert_desc"]}}  
        td.links
          | <a title="Look up the perturbation in LIFE" class="pert-link life" ng-href="{{lifeURL}}{{entry['pert_id']}}", target='_blank')>L</a> 
          | <a title="Look up the perturbation in PubChem" class="pert-link pubchem" ng-if="entry['pubchem_id']" ng-href="{{pubchemURL}}{{entry['pubchem_id']}}" target='_blank'>P</a>  
          | <a title="Look up the perturbation in DrugBank" class="pert-link drugbank" ng-if="entry['drugbank_id']" ng-href="{{drugbankURL}}{{entry['drugbank_id']}}" target='_blank'>D</a>
        |               
        td {{entry["cell_id"]}}
        |               
        td {{entry["pert_dose"]+entry["pert_dose_unit"]}}
        |               
        td {{entry["pert_time"]+entry["pert_time_unit"]}}
        td.narrow
          a.btn.download-icon(popover-placement="left" popover-template="overlap.templateUrl")
            i.fa.fa-pause
        |               
        td.narrow
          a.btn.download-icon(ng-class="{'disabled':!entry}" ng-click="downloadMeta(entry['sig_id'])")
            i.fa.fa-download
    |           
    tfoot
      tr
        td(colspan='9')
          .table-label  Chemical Perturbations
          |                   
          .custom-pagination(st-pagination='', st-items-by-page='14', st-displayed-pages='')
  h3(ng-class="{err:err,noerr:!err}") {{err}}

script(type="text/ng-template" id="pop.html")
  div abcde
  div {{entry.cell_id}}
