node_modules/
public/libraries/
*.Rhistory
R/sync.ffs_db
.idea/.name
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/searchEngine_node_modules.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/searchEngine.iml
.idea/vcs.xml
.idea/workspace.xml
public/data/ebovs_old.json
util/.idea/
public/dist/main.min.js
public/index.html
public/help/~WRL3900.tmp
public/help/~$000CDS.docx
