.header-board
   a.btn.btn-primary.dropdown-toggle-custom.reanalyze(ng-click="reanalyze()" ng-if='!err' title="reanalyze input using different configurations")
      i.fa.fa-chevron-left      
      |      reanalyze
    .btn-group.dropdown-custom(dropdown)
      a.btn.btn-primary.dropdown-toggle.dropdown-toggle-custom(dropdown-toggle) {{tag.value}} ({{direction}}) <span class="caret"></span>
      ul(class="dropdown-menu" role="menu")
        li
          .result-input-meta
            flex-form(data="input.meta" static="true")
    a.btn.share-button(title="visualize overlaps with top signatures in clustergrammer" ng-click="goToClustergrammer()")
      //- i.fa.fa-map-o
    a.btn.share-button(title="show enriched substructures in top perturbations" ng-click="goToStructure()")
      i.fa.fa-diamond
    a.btn.share-button(ng-if="isFileSaverSupported" title="download the table as csv" ng-click="saveFile()")
      i.fa.fa-cloud-download
    a.btn.share-button(ng-click="share()")
      i.fa.fa-share-alt-square
    a.btn.share-button(href="help/" target="_blank")
      i.fa.fa-question-circle
.result-container
  table.table.table-striped(id="pertTable" st-table='displayedEntries', st-safe-src='entries')
    thead
      th Rank
      th(ng-if="input.config.searchMethod=='CD'" style="min-width:90px;")  1-cos(α)       
        a(ng-href="{{helpURL}}#score" target="_blank")
          i.fa.fa-question-circle 
      th(ng-if="input.config.searchMethod=='geneSet'") Overlap       
        a(ng-href="{{helpURL}}#score" target="_blank")
          i.fa.fa-question-circle 
      th(ng-if="input.config.searchMethod=='CD'")  α 
      th(ng-if="input.config.searchMethod=='geneSet'&&allHaveSets")  Venn           
      th  Perturbation
      th  
      |             
      th  Cell-line 
      |             
      th  Dose 
      |             
      th  Time
      th  Overlap 
      |             
      th  Signature 
    tbody           
      tr(ng-repeat='entry in displayedEntries' ng-class="entry.isSelected? 'highlight-row':''" ng-style="{background: entry.isSelected?'blue':'white'}")
        td.rank {{entry["rank"]}} {{Math.PI}}
        td {{entry["score"].toFixed(4)}}
        td(ng-if="input.config.searchMethod=='CD'" style="padding:0;font-size:0") 
          sigine-angle(cosine-dist='entry["score"].toFixed(4)' title="{{getDegree(entry.score)}}°")
        td(ng-if="input.config.searchMethod=='geneSet'&&allHaveSets" style="padding:0;font-size:0")
          sigine-venn(data='entry.sets' title="input:{{entry.sets[0].size}},signature:{{entry.sets[1].size}},overlap:{{entry.sets[2].size}}")
        |               
        td.pert {{normalizePertName(entry)}} 
        td.links
          | <a title="Look up the perturbation in LIFE" class="pert-link life" ng-href="{{lifeURL}}{{entry['pert_id']}}", target='_blank')>L</a> 
          | <a title="Look up the perturbation in PubChem" class="pert-link pubchem" ng-if="entry['pubchem_id']" ng-href="{{pubchemURL}}{{entry['pubchem_id']}}" target='_blank'>P</a>  
          | <a title="Look up the perturbation in DrugBank" class="pert-link drugbank" ng-if="entry['drugbank_id']" ng-href="{{drugbankURL}}{{entry['drugbank_id']}}" target='_blank'>D</a>
        |               
        td {{entry["cell_id"]}}
        |               
        td {{entry["pert_dose"]+entry["pert_dose_unit"]}}
        |               
        td {{entry["pert_time"]+entry["pert_time_unit"]}}
        td.narrow
          a.btn.download-icon(popover-placement="left" popover-template="overlap.templateUrl")
            i.fa.fa-pause               
        td.narrow
          a.btn.download-icon(ng-class="{'disabled':!entry}" ng-click="downloadMeta(entry['sig_id'])")
            i.fa.fa-download         
    tfoot
      tr
        td(colspan='10')
          .table-label  Chemical Perturbations              
          .custom-pagination(st-pagination='', st-items-by-page='14', st-displayed-pages='' st-highlight='true')
  h3(ng-class="{err:err,noerr:!err}") {{err}}
  a.btn.share-button.save-combination(ng-if="isFileSaverSupported && combinations" title="download the table as csv" ng-click="saveCombination()")
    i.fa.fa-cloud-download
  div(ng-controller="combinationCtrl")
    table.table.table-striped(ng-if="combinations" st-table='displayedCombinations', st-safe-src='combinations')
      thead
        th Rank
        th(ng-if='input.config.searchMethod=="CD"') Orthogonality
        th(ng-if='input.config.searchMethod=="geneSet"') Overlap
        //- th(ng-if='input.config.searchMethod=="geneSet"') Venn
        //- th Overlap 
        th(colspan=2) Combination    
      tbody
        tr(ng-repeat="combination in displayedCombinations")
          td {{combination.rank}}
          td(ng-if='input.config.searchMethod=="CD"') {{getDegree(combination.value,2)}}°
          td(ng-if='input.config.searchMethod=="geneSet"') {{combination.value}}
          td <a ng-style="{'background-color': combination.X1Selected?'lightblue':'inherited'}" ng-click="trigger(combination,'X1');">{{IDMap[combination.X1].rank}}.  {{normalizePertName(IDMap[combination.X1])}}</a>
          td <a ng-style="{'background-color': combination.X2Selected?'lightblue':'inherited'}" ng-click="trigger(combination,'X2')">{{IDMap[combination.X2].rank}}.  {{normalizePertName(IDMap[combination.X2])}}</a>
      tfoot
        tr
          td(colspan='4')
            .table-label  Combinations     
            .custom-pagination(st-pagination='', st-items-by-page='14', st-displayed-pages='')
