body{
	font-size:15px;
}

.custom-menu{
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: 0.5em;
	padding-top:0.5em;
	z-index: 999;
}


/*.custom-container{
	margin-top:5em;
	
}*/

.custom-table{
	font-size:0.9em;
}

.custom-button{
	color:white;
	font-size: 0.8em;
padding: 5px;
}

.search-button{
	font-size: 15px;
width: 90px;
margin-right: 0.2em;
margin-right: 0.2em;
}




.rubic{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	float: left;
	margin-left: 1em;
}

.rubic-title{
	color: white;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 0.5em;
	float: left;
	margin-left: 0.3em;
}

.description{
	vertical-align: text-bottom;
	margin-top: 0.4em;
	margin-left: 2em;
/*	margin-right: 3em;
*/	font-size: 0.8em;
	display: inline-block;
	color:white;
}

.highlight{
	font-weight: bold;
	font-size:1.3em;
}


/*override. specificity: .pure-form input > class*/
.pure-form input:not([type]){
	border-radius: 4px 4px 0 0;
}

.pure-form textarea{
	/*width:218px;*/
	/*height:300px;*/
	border-radius: 0 0 0 0 !important; 
	top: -1px;
	height: 20em;
}

.download-icon{
	background-color: white;
	padding:0;
	/*margin-top: 40%; */
}

/*.pure-button i{
	color:#ccc;
	font-size:7em;
}*/

.up-down-container{
	font-size:0px;
}
.up-down-button{
	width:33.33%;
	font-size:12px;
	border-radius: 0px;
}

.up-signature{
	color:#2ca02c;
}

.dn-signature{
	color:#d62728;
}



div.pagination{
display: inline-block;
padding-left: 0;
margin: 0 0;
border-radius: 4px;
}

ul.pagination{
	display: inline-block;
	padding-left: 0;
	margin: 0px 0;
	border-radius: 4px;
}

tfoot a{
	cursor: pointer;
}

div.custom-pagination{
	float:right;
}

.table-label{
	font-style: italic;
	display:inline-block;
	margin-top: 0.3em;
}

tfoot td{
	text-align: left;
}

td.narrow{
	width:50px;
}

.input-margin{
	margin-top:0.6em;
}

.example-button{
	background:#7EB36A;
}

.input-gene-list{
	display: inline;
	width:	14em;
}

textarea.form-control{
	height:20em;
}

th{
	text-align: center;
}

.err{
	color:red;
	display:block;
}

.noerr{
	display: none;
}


.input-title-wrapper{
	/*match input textarea*/
	width:168px;
	/*align at center*/
	display: inline-block;
}

.eraser-btn{
	margin:0;
	padding: 0;
	float:right;
}

.lightning-fast{
	font-style: italic;
}


.header-board{
	margin-top: 3em;
	text-align: right;
}

.share-button{
	margin: 0px 0.5em 0px 0px;
	padding: 0px;
	font-size: 1.5em;
}

.share-input{
	width:90%;
}

.search-count-text{
	color: white;
	font-size: 0.8em;
	right: 0.8em;
	position: relative;
	float: right;
	margin-top: 0.4em;
	min-width: 150px;
}

.search-count{
	font-size: 1.5em;
	vertical-align: -8%;
	color: #d6e7d0;
}

.custom-row{
	margin-right: 0;
}


/*for sticky footer fixed to the bottom*/
/*http://getbootstrap.com/examples/sticky-footer-navbar/*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*adjust this value accordingly*/
  margin-bottom: 65px;
}

.footer {
position: absolute;
bottom: 0;
width: 100%;
min-height: 60px;
background-color: #f5f5f5;
}

footer div{
	margin-top: 12px;
	font-size:0.8em;
}

/*end for sticky footer fixed to the bottom*/


/*CSS required for smart table sort*/
.st-sort-ascent:before {
    content: '\25B2';
}
.st-sort-descent:before {
    content: '\25BC';
}


/*CSS required for smart table row selection*/
.st-selected{
	background: #428bca !important;
	color: white !important;
}


.no-border-radius{
	border-radius: 0;
}

.example-header{
	text-align: justify;
padding-left: 50px;
padding-right: 50px;
padding-top: 5px;
}

.long-button{
	width:149px;
}

.narrow-margin{
	margin-top:0.3em;
}


.input-meta{
 text-align: left;

}

.input-meta-block{
	/*margin-top:1em;*/
}

.input-meta-title{
	font-size: 1.2em;
  position: relative;
  top: 13px;
  left: 12px;
  background: white;
  display: table;
  padding-left: 3px;
  padding-right: 3px;
}

.input-meta-content{
	margin-right:5%;
	border: solid;
  padding-left: 12px;
  padding-bottom: 10px;
  border-width: thin;
  border-radius: 5px;
  padding-top: 9px;
  max-width: 660px;
}

.emphasize{
	font-weight: bold;
}

.result-container{
	margin-top:12px;
}

.overlap-popover-holder{
	/*width:550px;*/
}

.overlap-popover-col{
	display: inline-block;
}

.overlap-popover-col-margin{
	margin-right:0.8em;
}
.overlap-popover-header{
	
}

textarea.overlap-geneSet{
	width:100px;
	height:200px;
	background-color:white;
}

textarea.overlap-cd{
	width:250px;
	height:200px;
	background-color:white;
}

.popover{
/*overwrite max-width in bootstrap .popover*/
  max-width: 550px;
}

.result-input-meta{
	padding:5px;
	padding-bottom: 10px;
}

.dropdown-custom{
   float: left;
  left: 5px;
}

.dropdown-toggle-custom{
  font-size: 0.8em;
  margin-top: 7px;
}

a{
	cursor:pointer;
}

.note{
	font-size: 0.8em;
  font-style: italic;
  color: grey;
  margin-top: 0.5em;
  margin-right: 2em;
}

.more{
	text-decoration: underline;
  font-weight: bold;
  /* border-style: solid; */
  padding-top: 0.5em;
}

.view{
	margin-bottom: 80px;
}

/*customize flex-form css*/
