<div class="modal-header" style="border-bottom-width:0">
	<button type="button" class="close"   ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title example-header">Select one of the Ebola virus infection signatures and click the search button to find drugs that would potentially <strong>{{aggravate?"mimic":"reverse"}}</strong> the infection state:</h4>
</div>
<div class="modal-body">
	<table st-table="displayedEntries" st-safe-src="diseases" class="table">
       <tbody>
       		<tr st-select-row="entry" st-selected-entry="selectedEntry" ng-repeat="entry in displayedEntries">
             	<td class="">{{entry["name"]}}</td>
            </tr>
       </tbody>
  </table>
</div>
<div class="modal-footer">
<toggle-switch ng-model="aggravate" on-label="mimic" off-label="reverse" class="switch-default switch-ligand"></toggle-switch><span> 

	<button class="btn btn-primary" ng-click="ok()">Search</button>
    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>