<div class="modal-header">
	<button type="button" class="close"   ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title example-header">Select one of the 670 disease signatures processed from  GEO in the table below and click the search button to find drugs that would potentially  <strong>{{aggravate?"mimic":"reverse"}}</strong> the disease state:</h4>
</div>
<div class="modal-body">
	<table st-table="displayedEntries" st-safe-src="diseases" class="table">
    	<thead>
        	<tr>
            	<th st-sort="term">Disease</th>
            	<th st-sort="desc">Tissue</th>
        	</tr>
            <tr>
                 <th colspan="2">
                 <input placeholder="Search by disease or tissue" st-search type="search" class="form-control" />
                  </th>
            </tr>
       </thead>
       <tbody>
       		<tr st-select-row="entry" st-selected-entry="selectedEntry" ng-repeat="entry in displayedEntries">
             	<td class="">{{entry["term"]}}</td>
                <td>{{entry["desc"]}}</td>
            </tr>
       </tbody>
        <tfoot>
            <tr>
              <td colspan="2">               
                <div st-pagination="" st-items-by-page="12" st-displayed-pages="" class="custom-pagination"></div>
              </td>
            </tr>
        </tfoot>
       </table>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Search</button>
    <!-- <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>