      <div class="modal-header">
        <button type="button" class="close"   ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5 class="modal-title">Use Ctrl+C or Option+C to copy the link below:</h5>
      </div>
      <div class="modal-body">
        <p id="a"></p>
        <p><input ng-model="shareURL" class="share-input" select-text></input></p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button"  class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div> -->