
<div class="overlap-popover-holder"> 
  <div class="overlap-popover-col overlap-popover-col-margin">
    <div class="overlap-popover-header">{{overlap.key1}} </div>
    <textarea disabled="disabled" class="overlap-geneSet">{{buildOverlap(overlap.key1,entry)}}</textarea>
  </div>
  <div class="overlap-popover-col">
    <div class="overlap-popover-header">{{overlap.key2}}</div>
    <textarea disabled="disabled" class="overlap-geneSet">{{buildOverlap(overlap.key2,entry)}}</textarea>
  </div>
</div>