
<div class="overlap-popover-holder">
  <div class="overlap-popover-col overlap-popover-col-margin">
    <div class="overlap-popover-header">input  {{overlap.key1}}  </div>
    <textarea disabled="disabled" class="overlap-cd">{{buildOverlap(overlap.key1,entry.overlap[overlap.key1])}}</textarea>
  </div>
  <div class="overlap-popover-col">
    <div class="overlap-popover-header">input  {{overlap.key2}} </div>
    <textarea disabled="disabled" class="overlap-cd">{{buildOverlap(overlap.key2,entry.overlap[overlap.key2])}}</textarea>
  </div>
</div>