
<div class="overlap-popover-holder"> 
  <div class="overlap-popover-col overlap-popover-col-margin">
    <div class="overlap-popover-header">{{overlap.key1}} </div>
    <textarea disabled="disabled" class="overlap-geneSet">{{entry.overlap[overlap.key1].join('\n')}}</textarea>
  </div>
  <div class="overlap-popover-col">
    <div class="overlap-popover-header">{{overlap.key2}}</div>
    <textarea disabled="disabled" class="overlap-geneSet">{{entry.overlap[overlap.key2].join('\n')}}</textarea>
  </div>
</div>